* {
    margin: 0;
    padding: 0;
}

body {
    background-color: gray;
}


.circle {
    border: 2px solid white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: absolute;
}

div.red {
    background-color: red;
    top: 15px;
    left: 15px;

}

div.green {
    background-color: green;
    top: 15px;
    right: 15px;
}

div.blue {
    background-color: blue;
    bottom: 15px;
    left: 15px;
}

div.orange {
    background-color: orange;
    bottom: 15px;
    right: 15px;
}

p {
    position: absolute;
    height: 100vh;
    width: 100%;
    text-align: center;
    line-height: 100vh;
    font-size: 30px;
    z-index: -1;
    color: white;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0;
    transition: 1s;

}

.info {
    opacity: 1;
}

p.red {
    background-color: red;
}

p.green {
    background-color: green;
}

p.blue {
    background-color: blue;
}

p.orange {
    background-color: orange;

}

div.circle:hover~div.bg p.info {
    opacity: 0;
}

div.red:hover~div.bg p:nth-of-type(1) {
    opacity: 1;
}

div.green:hover~div.bg p:nth-of-type(2) {
    opacity: 1;
}

div.blue:hover~div.bg p:nth-of-type(3) {
    opacity: 1;
}

div.orange:hover+div.bg p:nth-of-type(4) {
    opacity: 1;
}

/* div.red:hover+div.green+div.blue+div.orange+div.bg p:nth-of-type(1) {
    opacity: 1;
}

div.green:hover+div.blue+div.orange+div.bg p:nth-of-type(2) {
    opacity: 1;
}

div.blue:hover+div.orange+div.bg p:nth-of-type(3) {
    opacity: 1;
}

div.orange:hover+div.bg p:nth-of-type(4) {
    opacity: 1;
} */